{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База студентів{% endblock title %}

{% block content %}
					<!-- Month Name -->
					<div class="col-xs-12 text-center" id="month">
					<a href="#">&larr;</a> Лютий 2016 <a href="#">&rarr;</a>
					</div>
					
					<div>
						<!-- Start Groups Listing -->
						<table class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">№</th>
									<th class="text-center">Студент</th>
									<th class="text-center">Пн<br/>1</th>
									<th class="text-center">Вт<br/>2</th>
									<th class="text-center">Ср<br/>3</th>
									<th class="text-center">Чт<br/>4</th>
									<th class="text-center">Пт<br/>5</th>
									<th class="text-center">Сб<br/>6</th>
									<th class="text-center">Нд<br/>7</th>
									<th class="text-center">Пн<br/>8</th>
									<th class="text-center">Вт<br/>9</th>
									<th class="text-center">Ср<br/>10</th>
									<th class="text-center">Чт<br/>11</th>
									<th class="text-center">Пт<br/>12</th>
									<th class="text-center">Сб<br/>13</th>
									<th class="text-center">Нд<br/>14</th>
									<th class="text-center">Пн<br/>15</th>
									<th class="text-center">Вт<br/>16</th>
									<th class="text-center">Ср<br/>17</th>
									<th class="text-center">Чт<br/>18</th>
									<th class="text-center">Пт<br/>19</th>
									<th class="text-center">Сб<br/>20</th>
									<th class="text-center">Нд<br/>21</th>
									<th class="text-center">Пн<br/>22</th>
									<th class="text-center">Вт<br/>23</th>
									<th class="text-center">Ср<br/>24</th>
									<th class="text-center">Чт<br/>25</th>
									<th class="text-center">Пт<br/>26</th>
									<th class="text-center">Сб<br/>27</th>
									<th class="text-center">Нд<br/>28</th>
									<th class="text-center">Пн<br/>29</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">1</td>
									<td class="text-center">Подоба Віталій</td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
								</tr>
								<tr>
									<td class="text-center">2</td>
									<td class="text-center">Корост Андрій</td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
								</tr>
								<tr>
									<td class="text-center">3</td>
									<td class="text-center">Притула Тарас</td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
									<td class="text-center"><label for=""><input type="checkbox" value="" /></label></td>
								</tr>
							</tbody>
						</table>
						<!-- End Students Listing -->
						<nav>
							<ul class="pagination">
								<li><a href="#">&laquo; Попередня</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">Наступна &raquo;</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- End Main Page Content -->
		
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">&copy; 2016 Сервіс Обліку Студентів</div>
			</div>
			<!-- End Footer -->
		
		</div>
		<!-- End Container -->
	
	<!-- Javascripts Section -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/24 jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>